@import "theme-zen-dark.css";

:root {
    --CODE-theme: zen-dark;
    --MENU-HEADER-BG-color: #30D5C8; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #30D5C8; /* Color of menu header border */
    --MENU-SEARCH-color: #30D5C8;/* text and icon color of search box */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #30D5C8; /* text color of the displayed menu topic */
    --MENU-SECTIONS-LINK-HOVER-color:  #30D5C8; /* hoverd link color of menu topics */
    --MAIN-LINK-HOVER-color:   #30D5C8;/* hovered link color of content */
}

.content h1 {
    color: rgb(173, 216, 230); /* Light blue color */
}