@import "theme-zen-light.css";

:root {
    --CODE-theme: zen-light;
    --MENU-HEADER-BG-color: #30D5C8; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #30D5C8; /*Color of menu header border */
    --MENU-SEARCH-color: #0f7e74;/* text and icon color of search box */
    --MENU-SEARCH-BG-color: rgba( 255, 255, 255, 1 ); /* background color of search box */
    --MENU-HOME-LINK-color: rgb(255, 255, 255); /* home button color if configured */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #098076; /* text color of the displayed menu topic */
}