<h3 style="color: #30D5C8"> Affiliates </h3>
<p>Add additional links by editing layouts/partials/menu-footer.html</p>
<a href="https://alta3.com/" alt="alta3" target="_blank" rel="noreferrer"><img src="/images/favicon.png" style="vertical-align: middle;"/> Alta3 </a>
<br/>
<a href="https://blog.alta3.com/" alt="alta3 Blogs" target="_blank" rel="noreferrer"><img src="/images/favicon.png" style="vertical-align: middle;"/> Alta3 Blogs</a>
<br/>
<a href="https://www.nexusmods.com/baldursgate3/mods/" alt="BG3 Mods" target="_blank" rel="noreferrer"><img src="/images/bg3-logo.png"  style="height:30px; vertical-align: middle;"/> BG3 Nexus Mods</a>
<br/>
